body{
    background-color:rgb(224, 224, 224) ;
}
ul{
    width:auto;
    float: right;
    margin-top: 8px;

}
li{
    display: inline-block;
    padding: 15px 30px;
}
a{
    text-align: center;
    color: black;
    text-decoration:none;
    font-family: 'Open sans',Georgia, 'Times New Roman', Times, serif;
    font-size:1.2vw;

}



a:hover{
    color: #F0c330;
    transition: 0.5s;
}
.logo{
    height: 50px;
}

nav{
    margin-right: 50px;
    margin-left: 50px;
}

button{
    padding: 5px 15px 5px 15px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}