.background{
        
    background-image:linear-gradient(to bottom,rgba(0, 0, 0, 0.6)40%,rgba(255, 255, 255, 0.12) 100%), url(https://i.imgur.com/V95igPh.jpg);
    height: 115vh;
    margin-top: 0px;
    background-size: 1370px 945px;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 0px;
    position: relative;
            
        
}